@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import '@fontsource-variable/fira-code';
@import '@fontsource/fira-sans/300.css';
@import '@fontsource/fira-sans/400.css';
@import '@fontsource/fira-sans/600.css';
@import '@fontsource/fira-sans/700.css';
@import '@fontsource/fira-sans-condensed/400.css';
@import '@fontsource/noto-serif/300.css';
@import '@fontsource/noto-serif/600.css';
@import '@fontsource/noto-serif/300-italic.css';
@import '@fontsource/noto-serif/600-italic.css';

@theme {
  /*
  // We only support selected font weights in this app.
  // Docs https://tailwindcss.com/docs/font-weight
  // thin: '100',
  // extralight: '200',
  light: '300',
  normal: '400',
  // medium: '500',
  semibold: '600',
  bold: '700',
  // extrabold: '800',
  // black: '900',
  */
  --font-weight-*: initial;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-mono:
    'Fira Code Variable', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'Courier New', monospace;
  --font-sans:
    'Fira Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-condensed:
    'Fira Sans Condensed', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: 'Noto Serif', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
}
